---
layout: default
title: "Badgerous Blog"
description: |
  Alun blogging about madness.
keywords:
  - interviewing
  - software development blog
  - programming blog
  - software blog
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }} </a>
        </h2>
        <span class="post-meta">
          <ul>
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{ post.date | date: "%b %-d, %Y" }},
            </li>
            <li>
              <i class="fa fa-file-text" aria-hidden="true"></i>
              {% assign words = post.content | number_of_words %}
              {{ words }} words,
            </li>
            <li>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ words | plus: 250 | divided_by: 180 }} minute read.
            </li>
          </ul>
        </span>
        {{ post.excerpt }}
        <p>
          <a href="{{ post.url | relative_url }}" class="page-link">
            continue <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </p>
      </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      Previous
    </a>
    {% else %}
    Page
    {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
      Next
      <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
    </a>
    {% else %}
    pages.
    {% endif %}

  </div>

</div>
