<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">

      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-bars">
          <i class="fa fa-bars"></i>
        </span>
        <span class="menu-close">
          <i class="fa fa-close"></i>
        </span>
      </label>
      <div class="trigger">
        {% for each in site.pages %}
          {% unless each.exclude_from_search %}
            {% if each.title %}
              {% unless each.url contains '/page' or page.url == each.url %}
                <a class="page-link" href="{{ each.url | relative_url }}">{{ each.title | escape }}</a>
              {% endunless %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
