.fa-twitter:hover { color: #00aced; }
.fa-linkedin:hover { color: #007bb6; }
.fa-stackoverflow:hover { color: #f48024; }
.fa-github:hover { color: #800080; }
.fa-facebook:hover { color: #3b5998; }
.fa-rss:hover { color: #ff6600; }
.fa-envelope:hover { color: #c92c19; }
