.icon-twitter { :hover { fill: #00aced; } }
.icon-linkedin { :hover { fill: #007bb6; } }
.icon-stackoverflow { :hover { fill: #f48024; } }
.icon-github { :hover { fill: #800080; } }
.icon-facebook { :hover { fill: #3b5998; } }
.icon-rss { :hover { fill: #f60000; } }
.icon-mailto { :hover { fill: #ff0000; } }
