/**
 * Syntax highlighting styles
 * info from: rouge http://rouge.jneen.net/
 * original base16 by Chris Kempson (https://github.com/chriskempson/base16)
 */

$comment: #888;
$scomment: #f4bf75;
$whitespace: #f4bf75;
$error: #151515;
$errorb: #ac4142;

$errorg: #a00;

$keyword: #d28445;
$rkeyword: #aa759f;
$operator: #d0d0d0;

$dgeneric: #ac4142;

$igeneric: #90a959;
$string: #90a959;
$regexp: #75b5aa;
$number: #90a959;

$name: #6a9fb5;
$variable: #6a9fb5;


$four: #fdd;
$five: #faa;
$seven: #dfd;
$eight: #afa;
$nine: #888;
$ten: #555;
$eleven: #aaa;


.highlight {

  .c     { color: $comment } // Comment
  .cm    { color: $comment } // Comment.Multiline
  .c1    { color: $comment } // Comment.Single

  .cp    { color: $comment; font-weight: bold } // Comment.Preproc
  .cs    { color: $comment; font-weight: bold } // Comment.Special


  .err   { color: $error; background-color: $errorb } // Error

  .k     { color: $rkeyword; font-weight: bold } // Keyword
  .o     { color: $operator; font-weight: bold } // Operator

  .gh    { font-weight: bold } // Generic.Heading
  .gs    { font-weight: bold } // Generic.Strong
  .ge    { font-style: italic } // Generic.Emph

  .gd    { color: $dgeneric; background-color: $four } // Generic.Deleted
  .gd .x { color: $dgeneric; background-color: $five } // Generic.Deleted.Specific
  .gi    { color: $igeneric; background-color: $seven } // Generic.Inserted
  .gi .x { color: $igeneric; background-color: $eight } // Generic.Inserted.Specific

  .gr    { color: $errorg } // Generic.Error
  .gt    { color: $errorg } // Generic.Traceback

  .go    { color: $nine } // Generic.Output
  .gp    { color: $ten } // Generic.Prompt
  .gu    { color: $eleven } // Generic.Subheading

  .kc    { color: $keyword; font-weight: bold } // Keyword.Constant
  .kd    { color: $keyword; font-weight: bold } // Keyword.Declaration
  .kt    { color: $keyword; font-weight: bold } // Keyword.Type
  .kp    { color: $rkeyword; font-weight: bold } // Keyword.Pseudo
  .kr    { color: $rkeyword; font-weight: bold } // Keyword.Reserved


  .m     { color: $number } // Literal.Number
  .mf    { color: $number } // Literal.Number.Float
  .mh    { color: $number } // Literal.Number.Hex
  .mi    { color: $number } // Literal.Number.Integer
  .mo    { color: $number } // Literal.Number.Oct
  .il    { color: $number } // Literal.Number.Integer.Long

  .s     { color: $string } // Literal.String
  .sb    { color: $string } // Literal.String.Backtick
  .sc    { color: $string } // Literal.String.Char
  .sd    { color: $string } // Literal.String.Doc
  .s2    { color: $string } // Literal.String.Double
  .se    { color: $string } // Literal.String.Escape
  .sh    { color: $string } // Literal.String.Heredoc
  .si    { color: $string } // Literal.String.Interpol
  .sx    { color: $string } // Literal.String.Other
  .s1    { color: $string } // Literal.String.Single

  .nn    { color: $name } // Name.Namespace
  .nc    { color: $name; font-weight: bold } // Name.Class

  .na    { color: $name } // Name.Attribute
  .no    { color: $name } // Name.Constant

  .vc    { color: $variable } // Name.Variable.Class
  .vg    { color: $variable } // Name.Variable.Global
  .vi    { color: $variable } // Name.Variable.Instance

  .nb    { color: $name } // Name.Builtin
  .bp    { color: $name } // Name.Builtin.Pseudo

  .ni    { color: $name } // Name.Entity
  .ne    { color: $name; font-weight: bold } // Name.Exception
  .nf    { color: $name; font-weight: bold } // Name.Function
//  .nx    { } // Name.Other

  .nt    { color: $whitespace } // Text.Whitespace

  .sr    { color: $regexp } // Literal.String.Regex
  .ss    { color: $string } // Literal.String.Symbol
}
